.lead__subtitle{
    max-width: 600px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 32px;
}

@media screen and (min-width: 321px) and (max-width: 726px) {
    .lead__subtitle {
        font-size: calc(16px + (30 - 16) * ( (100vw - 320px) / ( 726 - 320) ));
        line-height: calc(20px + (36 - 20) * ( (100vw - 320px) / ( 726 - 320) ));;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle{
        max-width: 288x;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-top: 16px;
    }
}