.footer__author {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

@media screen and (max-width: 710px) {
    .footer__author {
        align-self: end;
    }
}

@media screen and (max-width: 360px) {
    .footer__author {
        align-self: start;
    }
}

@media screen and (max-width: 320px) {
    .footer__author {
        margin-top: 48px;
    }
}