.cover__title {
    margin: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin-top: 245px;
    z-index: 100;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__title {
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (767 - 321)));
        line-height: calc(32px + (72 - 32) * ((100vw - 320px) / (767 - 321)));
    }
}

@media screen and (max-width: 370px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 33px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 250px;
        margin-top: 30px;
        font-size: 32px;
        line-height: 35px;
    }
}