.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .intro__title {
        font-size: calc(32px + (54 - 32) * ( (100vw - 320px) / ( 726 - 320) ));
        line-height: calc(35px + (58 - 35) * ( (100vw - 320px) / ( 726 - 320) ));
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
    }
}